{% extends "base.twig" %}
{% block title %}Admin{% endblock %}
{% block content %}
<div id="theContent">
    <h2>Your Pages</h2>
	<table class="table table-striped">
		{% for page in pages %}
			<tr>
                <td>{{ page}}</td>
                <td><a href="{{url('admin_delete',{page: page})}}">Delete</a></td>
			    <td><a href="{{url('admin_edit',{page: page})}}">Edit</a></td>
            </tr>
		{% endfor %}
	</table>
</div>
{% endblock %}