{% extends "admin_base.twig" %}

{% form_theme form 'Form/fields.twig' %}
{% block title %}Page{% endblock %}
{% block content %}
    {% for message in messages %}
        <div class="alert-danger"><p>{{ message }}</p></div>
    {% endfor %}
    <form action="#" method="post">
        {{ form_widget(form) }}
        <div id="epiceditor"></div>
        <input class="btn btn-primary" type="submit" name="submit"/>
    </form>
{% endblock %}
{% block scripts %}

    <script src="{{ app.request.baseUrl }}/resources/libs/EpicEditor-v0.2.2/js/epiceditor.js"></script>
    <script type="text/javascript">
        var editor = new EpicEditor({
            basePath: '{{app.request.baseUrl}}/resources/libs/EpicEditor-v0.2.2',
            theme: {
                base: '/themes/base/epiceditor.css',
                preview: '/themes/preview/github.css',
                editor: '/themes/editor/epic-light.css'
            },
            clientSideStorage: false,
            textarea: 'page_content',
            autogrow: true
        });
        textarea = $('#page_content');
        textarea.hide();

        //Everytime it's updated, update the textarea
        editor.on('update', function (file) {
            textarea.val(file.content);
        });

        // Everything is all setup, so load!
        editor.load();
    </script>
{% endblock %}