{% extends "base.twig" %}
{% block title %}Admin{% endblock %}
{% block content %}
<div id="theContent">
	<a class="btn" href="{{url('admin_new')}}">New Page</a>
	<ul>
		{% for page in pages %}
			<li>{{page}}<a href="{{url('admin_delete',{page: page})}}">delete</a>
			<a href="{{url('admin_edit',{page: page})}}">edit</a></li>
		{% endfor %}
	</ul>
</div>
{% endblock %}