{% extends "base.twig" %}
{% block title %}Page{% endblock %}
{% block content %}
<form action="#" method="post">
    {{ form_widget(form) }}

    <input type="submit" name="submit" />
</form>
{% endblock %}
{% block scripts %}

    <script src="{{app.request.baseUrl}}/resources/libs/hallo.js"></script>
{% endblock %}