{% extends "base.twig" %}

{% form_theme form 'Form/fields.twig' %}
{% block title %}Page{% endblock %}
{% block content %}
    {%  for message in messages %}
        <div class="alert-danger"><p>{{ message }}</p></div>
    {% endfor %}
<form action="#" method="post">
    {{ form_widget(form) }}
    <input class="btn btn-primary" type="submit" name="submit" />
</form>
{% endblock %}
{% block scripts %}

    <script src="{{app.request.baseUrl}}/resources/libs/hallo.js"></script>
{% endblock %}