{% extends "base.twig" %}
{% block title %}Error{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1>Oops! Something went wrong</h1>
        <p>{{ message }}</p>
    </div>
{% endblock %}