{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div id="theContent">
        List of all the posts
        <table class="table table-striped">
            {% for page in pages %}
                <tr>
                    <td><a href="{{ page.getSlug() }}">{{ page.getSlug() }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}