{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div id="theContent" class="list-group">
        {% for page in pages %}
            <a class="list-group-item" href="{{ page.slug }}">
                <div>
                    {{ page.time|date }}
                    {{ page.content|truncate(150)|raw }}
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}