{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div id="theContent">
        <table class="table table-striped">
            {% for page in pages %}
                <tr>
                    <td>{{ page.content|truncate(200)|raw }}<br><a href="{{ page.slug }}">Read more..</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}