{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div id="theContent" class="list-group">
        {% for page in pages %}
            <a class="list-group-item" href="{{ page.getSlug() }}">
                <div>
                    {{ page.getTime()|date }}
                    {{ page.getContent()|truncate(150)|raw }}
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}